@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.main-container {
  flex-grow: 1;
}

.main-menu {
  color: #2d3440;
  background-color: #feafc3;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
  width: 650px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  justify-self: flex-end;
  max-width: 520px;
  margin-left: auto;
  margin-right: -30px;
}

.navigation-link {
  display: block;
  padding: 6px 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.mob_phone {
  font-weight: 700;
}

.navigation-user .navigation-link {
  min-width: 30px;
  min-height: 32px;
}

.nav-button {
  margin-right: 16px;
  padding: 6px 16px;
  font-size: 14px;
  text-align: center;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.visually-hidden {
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
  position: absolute;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.choose_ice-cream-section {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.choose-ice-cream-container {
  display: flex;
  margin-top: 21px;
}

.slider-description-container {
  display: flex;
  flex-direction: column;
  width: 470px;
  margin-left: 70px;
}

.slider-photos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header_choose_ice-cream-section {
  margin-bottom: 24px;
  margin-right: 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  vertical-align: top;
  text-align: left;
}

.choose_ice-cream-description {
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  text-align: left;
  vertical-align: top;
}

.slider-button {
  width: 38px;
  height: 38px;
  border-radius: 100px;
  background: none;
}

.button {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  background-color: #fcfcfc;
  border: 2px solid rgba(252, 252, 252, 0.404);
  border-radius: 26px;
}

.ice-cream_images {
  display: flex;
  list-style-type: none;
}

.ice-cream_image {
  margin-right: 48px;
  width: 100px;
}

.heroblock-footer {
  display: flex;
  width: 1170px;
  justify-content: space-between;
}

.next-slide-bullet {
  display: flex;
  width: 52px;
  height: 12px;
  align-items: flex-start;
  list-style-type: none;
}

.slide-bullet {
  margin-right: 8px;
  background: none;
  border-radius: 100px;
}

.social-items {
  display: flex;
  margin: 0;
  padding: 0;
  width: 104px;
  height: 24px;
  flex-wrap: wrap;
  list-style-type: none;
}

.social-item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.header-gifts-section {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  line-height: 46px;
}

.gifts-section {
  margin: 0 auto 80px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  vertical-align: top;
}

.gifts-items {
  display: flex;
  width: 1170px;
  margin: 55px auto;
  list-style-type: none;
}

.gifts-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 570px;
  margin-right: 30px;
  height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
}

.gifts-header {
  margin: 36px 116px 28px 36px;
  width: 300px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.gift-description {
  margin-top: 0;
  margin-left: 36px;
  margin-bottom: 0;
  width: 328px;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  vertical-align: top;
}

.gift-button {
  display: block;
  margin: 28px auto 36px 36px;
  width: 176px;
  padding: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  background-color: #fcfcfc;
  border-radius: 26px;
}

.gift-image {
  display: block;
  margin-left: -100px;
}

.ice-cream-popular-header {
  margin-bottom: 86px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  vertical-align: top;
}

.popular-list {
  display: flex;
  width: 1170px;
  margin: 56px auto 80px;
  justify-content: space-between;
  height: 332px;
}

.popular-card {
  margin: -51px 51px 16px;
  border-radius: 100px;
}

.popular-item {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-bottom: 90px;
  height: 281px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.popular-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
}

.popular-description {
  margin: 0 40px 16px;
  color: #565c66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.price {
  margin: 0 auto 28px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
}

.buy {
  width: 32px;
  height: 32px;
  margin-left: 201px;
  margin-top: -50px;
  border-radius: 100px;
}

.description-section {
  padding: 24px;
  width: 1170px;
  margin: 80px auto;
  background-image: url(../images/main/background-images/background-description.png);
  background-repeat: repeat;
  border-radius: 16px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 1122px;
  height: 432px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 16px;
}

.description-header {
  width: 995px;
  margin: 56px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  width: 1042px;
  height: 172px;
  list-style-type: none;
}

.description-list-item {
  display: flex;
  justify-content: space-between;
  width: 506px;
}

.description-text {
  width: 442px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  text-align: left;
  vertical-align: top;
}

.blog-subscription-container {
  display: flex;
  margin: 80px auto;
  width: 1170px;
  height: 224px;
  align-items: center;
}

.blog-section {
  margin-right: 30px;
  padding-left: 32px;
  width: 570px;
  height: 224px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  color: #565c66;
  background-image: url(../images/main/background-images/background-news.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: #ffffff;
  background-size: 80%;
  background-position: top right;
}

.blog-container {
  margin-top: 32px;
}

.blog-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.subscription-section {
  display: flex;
  justify-content: space-around;
  width: 570px;
  padding: 6px;
  height: 224px;
  color: #565c66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-image: url(../images/main/background-images/background-subscription.png);
  border-radius: 16px;
  background-repeat: no-repeat;
}

.subscription-block {
  padding: 26px;
  width: 558px;
  background-color: #ffffff;
  border-radius: 16px;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  margin-right: 0;
  width: 506px;
}

.button-submit {
  padding: 12px 32px;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #ff2f64;
  border: 4px solid #ff2f644d;
  border-radius: 26px;
}

.delivery-section {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 534px;
  background-image: url(../images/main/background-images/background-delivery.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: #ffffff;
  background-size: 100%;
}

.delivery-description-container {
  display: flex;
  flex-direction: column;
  width: 371px;
  margin-left: 100px;
  margin-top: 167px;
  margin-bottom: 163px;
}

.delivery-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
  vertical-align: top;
}

.delivery-text {
  color: #565c66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  vertical-align: top;
}

.delivery-block {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 64px 64px 64px auto;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.delivery-block-text {
  margin: 40px 80px 32px 40px;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px 40px;
}

.delivery-data-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

.address-section {
  display: flex;
  align-items: center;
  width: 1170px;
  height: 492px;
  margin-top: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  vertical-align: top;
  background-image: url(../images/main/background-images/background-address.jpg);
  border-radius: 16px;
  background-color: #fcfcfc;
  background-size: 100%;
  background-position: top right;
}

.address-block {
  margin: 64px auto;
  margin-left: 64px;
  padding-left: 40px;
  padding-top: 40px;
  height: 364px;
  width: 350px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  border-radius: 8px;
  background-color: #fcfcfc;
}

.mobile-phone {
  display: block;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.address-text-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
}

.button-address {
  display: block;
  margin-top: 32px;
  width: 250px;
}

.store-address {
  margin-bottom: 24px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 48px auto;
  justify-content: space-between;
}

.social-items-footer {
  display: flex;
  margin: 0;
  padding: 0;
  width: 104px;
  height: 24px;
  flex-wrap: wrap;
  list-style-type: none;
}

.social-item-footer {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.social-item-footer:nth-child(3n) {
  margin-right: 0;
}

.additional-info-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 48px;
  width: 356px;
  margin: 0 auto;
  gap: 8px;
  align-items: baseline;
}

.additional-info-link {
  color: #2d3440;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}

.additional-info-link-selected {
  font-weight: 700;
}

.creator-link-section {
  width: 193px;
  margin-right: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  text-align: left;
  vertical-align: top;
}

.academy-link {
  color: inherit;
}

.main-catalogue {
  padding-top: 32px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  text-align: left;
  vertical-align: top;
}

.breadcrumbs-arrows {
  margin-right: 8px;
}

.breadcrumbs-link-selected {
  text-decoration: underline;
}

.catalogue-products {
  display: flex;
  flex-direction: column;
}

.ice-cream-adjustment {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-align: left;
}

.adjustment-header {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
  vertical-align: top;
}

.adjustment-container {
  display: flex;
  margin-bottom: 44px;
}

.select-control {
  width: 196px;
  height: 64px;
  padding: 8px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.price-range {
  padding: 8px;
  width: 196px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.fat {
  padding-right: 24px;
  padding-left: 24px;
  width: 383px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.fat-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.filler {
  width: 604px;
  padding: 0;
  border-radius: 18px;
  background-color: rgba(252, 252, 252, 0.3);
}

.filler-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.button-apply {
  width: 185px;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #fcfcfc;
}

.product-list-section {
  width: 1170px;
  margin: 0 auto;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 16px;
  width: 1170px;
  margin-left: -40px;
  list-style-type: none;
}

.product-card {
  margin: -51px 51px 16px;
  border-radius: 100px;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-bottom: 90px;
  height: 281px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
}

.product-description {
  margin: 0 40px 16px;
  color: #565c66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 126px;
  margin: -50px auto;
  padding: 41px 0;
  max-width: 1170px;
  margin-bottom: 40px;
}

.button-pagination {
  margin: 41px auto;
  align-self: center;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-item {
  width: 24px;
  height: 24px;
  line-height: 20px;
  background-color: #feafc3;
}

.pagination-link {
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  background-color: #feafc3;
  color: #2d3440;
  text-decoration: none;
}

.pagination-current {
  border-radius: 100px;
  background-color: #fcfcfc;
}
