@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #feafc3
}

.main-menu {
  color: #2D3440;
  background-color: #feafc3;
}

.navigation-link {
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
}
.mob_phone {
  font-weight: 700;
}

.nav-button {
  font-size: 14px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 6px 16px;
  text-align:center;
}

.visually-hidden {
  visibility: hidden;
}

.header_choose_ice-cream-section {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  vertical-align: top;
  text-align: left;
}

.choose_ice-cream-section p {
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  text-align: left;
  vertical-align: top;
}

.slider-button {
  width: 38px;
  height: 38px;
  border-radius: 100px;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #FCFCFC;
  color: inherit;
  text-decoration: none;
  border: 1px solid rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  padding: 12px 32px;
}

.header-gifts-section {
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  line-height: 46px;
}

.gifts-items li {
  background-color: #FF7799;
  border-radius: 16px;
  padding: 36px 200px 36px 36px;
  width: 570px;
}
.gifts-items h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align:left;
  vertical-align: top;

}
.gifts-items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  vertical-align: top;
}
.ice-cream_popular-section h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  vertical-align: top;
}

.ice-cream_popular-section img {
  border-radius: 100px;
}

.ice-cream_popular-section li {
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 270px;
}

.ice-cream_popular-section h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
}

.ice-cream_popular-section p {
  color: #565C66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
}

.buy {
  width: 32px;
  border-radius: 100px;
  height: 32px;
}

.description-section {
  background-image: url(../images/main/background-images/background-description.png);
  background-repeat: repeat;
  border-radius: 16px;
  padding: 24px;
  width: 1170px;
}

.description {
  background-color: #FFFFFF;
  border-radius: 16px;
  margin: 24px;
  padding: 56px 40px;
  width: 1122px;
}

.description h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  text-align: left;
  vertical-align: top;
}

.blog-section {
  background-image: url(../images/main/background-images/background-news.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  color:#565C66;
  background-color:#FFFFFF;
  width:570px;
  height: 224px;
  background-size: 100%;
}

.blog-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color:#2D3440;
  text-decoration: none;
}

.subscription-section {
  background-image: url(../images/main/background-images/background-subscription.png);
  border-radius: 16px;
  background-repeat: no-repeat;
  background-color:#FFFFFF;
  color:#565C66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 570px;
  height: 224px;
}

.subscription-block {
  background-color:#FFFFFF;
  width: 558px;
}

.button-submit {
  color: #FCFCFC;
  background-color: #FF2F64;
  border: 4px solid #FF2F644D;
  border-radius: 26px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.delivery-section {
  background-image: url(../images/main/background-images/background-delivery.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 1170px;
  height: 534px;
  background-size: 100%;
}

.delivery-sectiion h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
  vertical-align: top;
}

.delivery-section p {
  color:#565C66;
  font-weight:400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  vertical-align: top;
}
.delivery-block {
  background-color:#FCFCFC;
  width: 500px;
}

.delivery-section label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

.address-section {
  font-family: "Inter", sans-serif;
  background-image: url(../images/main/background-images/background-address.jpg);
  background-repeat: repeat;
  background-position: right top;
  border-radius: 16px;
  background-color:#FCFCFC;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  vertical-align: top;
  width: 1170px;
  height:492px;
  background-size: 100%;
}

.address-section div {
  width: 343px;
  background-color: #FCFCFC;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align:left
}

.address-section address{
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.additional-info-section a {
  color:#2D3440;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}

.additional-info-section :first-of-type {
  font-weight: 700;
}

.creator-link-section {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color:#2D3440;
  text-align: left;
  vertical-align: top;
}

.creator-link-section a {
  color: inherit;
}

.breadcrumbs a {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color:#2D3440;
  text-decoration: none;
  text-align: left;
  vertical-align: top;
}

.breadcrumbs .selected {
  text-decoration: underline;
}

.ice-cream-adjustment {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color:#2D3440;
  text-align: left;
}

.ice-cream-adjustment h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
  vertical-align: top;
}

.select-control {
  background-color:rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 16px;
  width: 196px;
  height: 36px;
}

.price-range {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 16px;
  width: 196px;
  height: 36px;
}

.fat {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  padding: 8px 24px;
}

.filler {
  padding: 9px 24px;
  border-radius: 18px;
  background-color: rgba(252, 252, 252, 0.3);
}

.button-apply {
  color:#2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #FCFCFC;
}

.product-list-section img {
  border-radius: 100px;
}

.product-list-section li {
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 270px;
}

.product-list-section h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
}

.product-list-section p {
  color: #565C66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.pagination li {
  line-height: 20px;
  width: 24px;
  height: 24px;
  background-color: #feafc3;
}

.pagination-link {
  background-color:#feafc3;
  color:#2D3440;
  text-decoration: none;
  width: 24px;
  height: 24px;
  padding: 2px 8px;
}

.pagination-current {
  border-radius: 100px;
  background-color: #FCFCFC;
}
